

.card {
  display: grid;
  grid-template-rows: 3fr 3fr 3fr;
  border: 2px solid red;
  text-align: center;
  max-width: 20rem;
  max-height: 30rem;
  color: black;
  background-color: white;
  margin-top: 1rem;
}

.title {
  display: block;
}

.card_details {
  display: block;
  grid-row-start: 3;

}

.card_image {
  max-width: 15rem;
  max-height: 20rem;
}

.movie_container {
  display: grid;
  grid-template-rows: 3fr 3fr 3fr;
  grid-template-columns: 3fr 3fr 3fr;
}